.btnDrop{
    background: none;
    outline: none;
    border: 0;
}

.myHeader{
    width: 100vw;
    height: 15vh;
    border: 10px solid black ;
}

img{
    width: 35px;
    height: 40px;
}

.mySearch{
    width: 25%;
    border-radius: 25px;
    border: 1px solid black;
    outline: none;
}

.picAccount{
    width: 40px;
    height: 40px;
    border-radius: 25px;
}

h2{
    margin-left: 6px;
    color: rgb(190, 183, 183);
}

.fa{
    font-size: 20px;
}