<label for="cars">Chọn Lớp</label>

<select name="cars" id="cars" class = "mx-4">
  <option value="volvo" value = ""></option>
  <option (click)="getClass($event)" value="volvo" value = "19110CL1">19110CL1</option>
  <option value="saab" value = "19110CL2">19110CL2</option>
  <option value="mercedes" value = "19110CL3">19110CL3</option>
  <option value="audi" value = "19110CL4">19110CL4</option>
</select>

<h1 class = "mt-4">Danh Sách Sinh Viên: {{this.class}}</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Student Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
        <th scope="col">Gmail</th>
        <th scope="col">Sửa/Xóa</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor = "let student of allStudents; let i = index" class = "p-3">
        <th>{{i+1}}</th>
        <td>{{student.firstName + ' ' + student.middleName + ' ' + student.lastName}}</td>
        <td>{{student.phone}}</td>
        <td>{{student.address}}</td>
        <td>{{student.gmail}}</td>
        <td>
          <button class = "myBtn mx-1 bg-success text-light"><i class="fas fa-edit"></i></button>
          <button (click)="deleteStudent(student.id)" class = "myBtn mx-1 bg-danger"><i class="fas fa-ban"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
