<div>
    <h1>Thêm Giáo Viên</h1>
    <hr />
    <div class = "d-flex justify-content-between">
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">First Name</span>
            <input name = "fName" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
    
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Middle Name</span>
            <input name = "mName" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
    
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Last Name</span>
            <input name = "lName" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
    </div>
    

    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">ID</span>
        <input name = "id" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">BirthDay</span>
        <input name = "bDate" type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Phone</span>
        <input name = "phone" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Address</span>
        <input name = "address" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Class</span>
        <input name = "class" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>


    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Group</span>
        <input name = "group" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Gmail</span>
        <input name = "group" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>


    <button class = "btn bg-success text-light">Add Teacher</button>
</div>

