.myBack {
    width: 83vw;
    height: 100vh;
    position:absolute;
}

.avatar{
    width: 15vw;
    height: 25vh;
    border-radius: 50%;
}

.accordion{
    width: 60vw;
}

.myInfo{
    margin-left: 10vw;
}