<div class = "w3-animate-bottom">
    <img src = "https://phunuvietnam.mediacdn.vn/179072216278405120/2020/8/31/ev2-15988596767771011888704.jpg"/>
    <div class = "first">

    </div>
    <div class = "second">
        <h1 class = "showName pt-4">Sinh Viên: Nguyễn Đức Trí</h1>
        <h2 class = "showName">Lớp: 19110CL4</h2>
        <h2 class = "showName">Mã Số Sinh Viên: 19110302</h2>
    </div>
    <div class = "content px-3 my-4 d-flex">
        <div class = "basic">
            <h1>Thông Tin Cơ Bản</h1>
            <hr />
            <div>
                <h3>CMND: 113</h3>
                <h3>Địa Chỉ: sdfasdf</h3>
            </div>
        </div>
        <div class = "contact">
            <h1 class = "px-3">Thông Tin Liên Lạc</h1>
            <hr />
            <div class = "px-3">
                <h3>Số Điện Thoại: 093403940</h3>
                <h3>Email: 92938@#dfs</h3>
            </div>
        </div>
    </div>
    
    
</div>
