<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Sửa/Xóa</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let subject of this.infoResponse; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{subject.name}}</td>
        <td>
            <button class = "myBtn mx-1 bg-success text-light"><i class="fas fa-edit"></i></button>
            <button class = "myBtn mx-1 bg-danger"><i class="fas fa-ban"></i></button>
        </td>
      </tr>
    </tbody>
</table>
