.myBack{
    background-image: url('https://image.freepik.com/free-vector/watercolor-back-school-background-with-white-space_52683-41450.jpg');
    height: 70vh;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 5rem;
}

.myForm{
    
    width: 80%;
    background-image: linear-gradient(90deg, rgba(83, 195, 240, 0.5), rgba(66, 202, 168, 0.5));
    margin: auto auto;
}