<mat-tab-group class = "myCourse p-4">
    <mat-tab label="Mô Tả Học Phần"> 
        <h1 class = "mt-4">Môn Học: Điện Toán Đám Mây</h1>
        <h3>Giảng Viên: Huỳnh Xuân Phụng</h3>
        <hr />
        <pre>
Điện toán đám mây (tiếng Anh: Cloud Computing, gọi tắt là đám mây) là việc cung cấp tài nguyên máy tính cho người dùng tùy theo mục đích sử dụng thông qua kết nối Internet. Nguồn tài nguyên đó có thể là bất kì thứ gì liên quan đến điện toán và máy tính, ví dụ như phần mềm, phần cứng, hạ tầng mạng cho đến các máy chủ và mạng lưới máy chủ cỡ lớn.

Trước thời điện toán đám mây, bạn muốn làm thứ gì thì cũng phải tự mình thực hiện, tự bỏ tiền ra đầu tư hầu như từ đầu đến cuối. Ở vai trò người dùng cá nhân, nếu bạn muốn lưu dữ liệu, bạn phải tự bỏ tiền mua một cái ổ cứng. Bạn muốn sao lưu dữ liệu thường xuyên và ngay lập tức? Ngoài ổ cứng ra còn phải tự đi kiếm phần mềm, tự kết nối nó vào mạng nếu muốn. Nếu bạn muốn làm một website, bạn phải tự mình đi mua máy chủ về lắp rắp rồi cấu hình mọi thứ. Bạn muốn quản lý doanh số của cửa hàng tại gia, bạn phải tự đi mua phần mềm kế toán hay phần mềm bán hàng rồi cài đặt nó lên máy tính ở nhà.
            
Và tất cả những thứ đó không chỉ dừng lại ở lúc mua. Số tiền bạn chi ra còn đi theo bạn sau đó, tạm gọi là tiền "bảo dưỡng" hay "bảo trì". Bạn mua ổ cứng về, lỡ nó hư thì tự bạn phải mang đi bảo hành. Xui xui hết thời gian bảo hành thì vừa mất dữ liệu vừa tốn thêm tiền mua ổ khác. Bạn cài máy chủ, xong bạn phải tự bảo trì cho nó, tự lo về hệ thống làm mát, tự lo backup (hoặc nếu bạn thuê người khác làm thì cũng không khác máy, chỉ là bạn bỏ tiền ra nhờ người ta làm giúp thôi). Bạn cài phần mềm kế toán, rồi mỗi khi nó có update thì bạn phải đi cài lại vào máy tính của mình, nếu có lỗi thì bạn phải tự sửa (hoặc gọi điện hỏi hãng cách sửa).
        </pre>
    </mat-tab>

    <mat-tab label="Danh Sách Thành Viên Trong Lớp"> 
        <div class = "p-2">
            <h2>Danh Sách Thành Viên</h2>
            <input type = "text" class = "mySearch mb-3 p-2" placeholder="Tìm kiếm..."/>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Middle Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Gmail</th>
                  </tr>
                </thead>
                <tbody>

                </tbody>
              </table>
        </div>
    </mat-tab>

    <mat-tab label="Điểm Số"> 
        
    </mat-tab>
</mat-tab-group>

