<div>
  <div class = "digitalClock text-center mb-3">
    <div class = "dayTitle my-4">
      {{this.day}}, {{this.today}}
    </div>
    <div class = "digitalTime d-flex my-4">
          <div class ="px-2">{{this.hour}}   :</div>
          <div class ="px-2">{{this.minute}}   :</div>
          <div class ="px-2">{{this.second}}</div>
          <div class ="px-2">{{this.ampm}}</div>
      </div>
    </div>

  <div class = "">  

  <div class = "d-flex justify-content-between">
    <div class = "d-flex mx-2">
      <div class = "d-flex flex-column myNumber p-3 text-center">
        <i class="fa fa-graduation-cap mb-2" aria-hidden="true"></i>
        Student
      </div>
      <div class="vl"></div>
      <div class = "d-flex flex-column myNumber p-3 text-center pt-5">
        50,000
      </div>
    </div>
  
  
    <div class = "d-flex mx-2">
      <div class = "d-flex flex-column myNumber p-3 text-center">
        <i class="fa fa-chalkboard-teacher mb-2" aria-hidden="true"></i>
        Teacher
      </div>
      <div class="vl"></div>
      <div class = "d-flex flex-column myNumber p-3 text-center pt-5">
        10,000
      </div>
    </div>

    <div class = "myLogoFace mx-3 p-4">
      <i class="fab fa-facebook-f text-light social"></i>
      <h1 class = "text-light py-2">facebook</h1>
    </div>

    <div class = "myLogoG mx-3 p-4">
      <i class="fab fa-google social text-light"></i>
      <h1 class = "text-light py-2">google+</h1>
    </div>

  </div>
</div>
</div>
