.authBackground{
    margin: 0,0;
    height: 100vh;
    width: 100vw;
    background-image: url('https://image.freepik.com/free-vector/gradient-dynamic-blue-lines-background_23-2148995756.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.dark-overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.1);
}