<app-header></app-header>
<div class="container myHome d-flex">
  <div class="myMenu w3-animate-left">
    <a routerLink = "/home/mainPage" class="list-group-item list-group-item-action">Trang Chủ</a>
    <a routerLink = "/home/myInfo" class="list-group-item list-group-item-action">Thông Tin Cá Nhân</a>
    <a href="#" class="list-group-item list-group-item-action">Khóa Học</a>
    <a href="#" class="list-group-item list-group-item-action">Điểm Số</a>
    <a href="#" class="list-group-item list-group-item-action">Điểm Số</a>
    <a href="#" class="list-group-item list-group-item-action">Điểm Số</a>
    <a href="#" class="list-group-item list-group-item-action">Điểm Số</a>
  </div>
  <div class = "content px-2">
    <router-outlet></router-outlet>
  </div>


</div>