.myMenu{
    height: 100vh;
    width: 13vw;
}

.myHome{
    background-color: rgb(233, 224, 224);
}

.content{
    width: 70vw;
}

a{
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    border: 1px;
}

.choose{
    background-color: rgb(72, 153, 228);
    color: white;
}

/* .myContent{
    width: 100vw;
    background-color: rgb(182, 147, 214);
} */